.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html,
body,
#root {
  background: azure;
  height: 100%;
}
.puzzle h1 {
  font-size: 48px;
}
.puzzle h1,
.puzzle p {
  margin: 10px;
}
.puzzle input {
  margin-left: 10px;
}

.board {
  font-family: 'Lobster', cursive;
  min-width: 300px;
  margin: 10px;
}
.board .square {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  background: #f3f3f3;
  border: 1px solid #ffffff;
  line-height: 60px;
  text-align: center;
}

.board .zero {
  background: beige;
  opacity: 0;
}
